<div class="todo-container">
  <h1 class="title">Chastine's TODO List App</h1>
  <hr class="divider" />
<div class="theme-switch">
  <label class="switch">
    <input type="checkbox" (change)="toggleDarkMode($event)" id="darkModeToggle">
    <span class="slider round"></span>
  </label>
  <span class="icon" (click)="toggleDarkModeByIcon()">{{ themeIcon }}</span>
</div>


  <!-- Task Input -->
  <form (ngSubmit)="addTodo()" class="form-row">
    <input
      matInput
      placeholder="Enter Task"
      [(ngModel)]="newTodo"
      name="newTodo"
      required
      class="input"
    />
    <button mat-flat-button color="primary" type="submit" class="add-btn">+ ADD</button>
  </form>
  <hr class="divider" />


<div class="task-container">
  <!-- Active Tasks -->
  <div *ngFor="let todo of activeTodos" class="task-box">
    <span class="task-text">{{ todo.title }}</span>
    <div class="actions">
      <!-- Custom circular check -->
   <!-- Inside your task-box loop for activeTodos -->
<div
  class="circle-check"
  [class.checked]="todo.checked"
  (click)="toggleCheck(todo)"
></div>


      <button mat-icon-button color="warn" (click)="deleteTodo(todo.id!)">
        <mat-icon class="text-red-600">delete</mat-icon>
      </button>
    </div>
  </div>
</div>


  <!-- Completed Tasks -->
  <h2 *ngIf="completedTodos.length > 0" class="completed-title">Completed Tasks</h2>
  <hr *ngIf="completedTodos.length > 0" class="divider" />


  <div class="complete-container">
    <!-- Completed Tasks -->
  <div *ngFor="let todo of completedTodos" class="task-box completed">
    <span class="task-text completed-text">{{ todo.title }}</span>
    <div class="actions">
      <button mat-icon-button color="warn" (click)="deleteTodo(todo.id!)">
        <mat-icon class="text-red-600">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
</div>